<div class="row">
  <div class="small-12 medium-8 columns">
    <%= simple_form_for([:admin, @restaurant, @food]) do |f| %>
      <%= render partial: "modules/form_errors", locals: {current_model: @food} %>
      <%= render partial: "admin/foods/basic_fields_and_submit", locals: {f: f} %>
    <% end %>
  </div>
  <% if !@food.new_record? %>
    <%# <%= render partial: "admin/foods/add_ingredients" %1> %>
  <% end %>
</div>
