<h1><%= @restaurant.name %>: <%= @food.name %></h1>

<%= render 'form' %>

<%= render partial: "admin/restaurants/footer", locals: {left_button: (link_to "#{@restaurant.name} Foods", admin_restaurant_foods_path(@restaurant), class: "button tiny round") } %>