<div class="tag-flex-container">
  <% extra.tags.map do |tag| %>
    <%= render partial: "tags/block", locals: {tag: tag, admin_edit: true} %>
  <% end %>
</div>
<div class="tag-actions universal-flex-container">
  <%= link_to "Tag Up", '#', id: "extra-tag-up", class: "universal-flex-button flex-button-natural" %>
  <br>
  <%= link_to "Clear tags", '#', id: "extra-remove-tags", class: "universal-flex-button flex-button-natural" %>
</div>
