<div cpass='small-12 columns'>
  <% if address.place_id
     @src = "src='https://www.google.com/maps/embed/v1/place?key=#{ENV['google_maps_key']}
      &q=place_id:#{address.place_id}&zoom=19&maptype=satellite'"
  elsif address.latitude && address.longitude
    @src = "src='https://www.google.com/maps/embed/v1/view?key=#{ENV['google_maps_key']}
      &center= #{address.latitude},#{address.longitude}&zoom=19&maptype=satellite'"
  elsif @restaurant
    @src = "src='https://www.google.com/maps/embed/v1/view?key=#{ENV['google_maps_key']}
    &q=#{@restaurant.name.gsub(' ', '+')},#{address.city}+#{address.state}'&zoom=17'"
  end %>
  <iframe
    width='300'
    height='225'
    frameborder='0' style='border:0'
    <%= @src %>
     allowfullscreen>
  </iframe>
</div>
