<div class="row">
  <div class="small-12 columns">
    <% if @address.new_record? %>
      <h1>Editing address</h1>
    <% else %>
      <h1>Editing <%= @address.street %></h1>
    <% end %>
    <%= render 'form' %>

    <%= link_to 'Show', admin_restaurant_address_path(@restaurant, @address) %> |
    <%= link_to 'Back', admin_root_path %>
  </div>
</div>