.admin-home{
  .home-grid {
    .block {
      background: white;
      border-radius: .25em;
      box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 1), 0 5px 10px 0 rgba(0, 0, 0, .5);
      padding: 6px;
    }
  }
}
