@import "../../_var_and_mix/media_query_mixins";

ul.tags-list{
  margin-left: 0;
  li{
    @media #{$break-medium} {
      width: 33%;
    }
    @media #{$break-large} {
      width: 25%;
    }
    width: 50%;
    float: left;
    list-style-type: none;
  }
}
