@import "../../_var_and_mix/general_mixins";
#tag-edit fieldset {
  display: flex;
  flex-wrap: wrap;
  padding: 0.25em 0.25em 0.25em;

  .tag-family-member {
    @include tag_family_member();
    margin-right: 1px;
  }
  .tag-family-remove {
    @include tag_family_member();
    padding: 0.1em;
    margin-left: 1px;
    svg {
      margin-right: 0;
    }
  }
}
