<div class="small-12 columns admin-show-section">
  <div class="universal-flex-container-add">
    <h2>
      <%= link_to name.capitalize.pluralize , polymorphic_path([:admin, @restaurant, name.pluralize.to_sym]) %>
    </h2>
    <%= link_to "<i class='fa fa-plus'></i>".html_safe, new_polymorphic_path([:admin, @restaurant, name.to_sym]), class: "universal-flex-button flex-button-add" %>
    <h4> (<%= values.count %>)</h4>
  </div>
  <% values.each do |value| %>
    <div class="admin-item">
      <%= link_to value.name, edit_polymorphic_path([:admin, @restaurant, value]) %>
    </div>
  <% end %>
</div>
