<div class="small-12 columns">
<h1><%= link_to @restaurant.name, admin_restaurant_path(@restaurant)%> <%= @item.name %></h1>
</div>
<div class="small-12 columns">
  <%= render 'form' %>
</div>
<div class="small-12 columns">
  <%= render partial: "admin/restaurants/footer", locals: {buttons: [(link_to "#{@restaurant.name} Items", admin_restaurant_items_path(@restaurant), class: "button tiny round")] } %>
</div>
