<div class="row">
  <div class="small-12 medium-8 columns">
    <h1>Listing <%= @restaurant.name %> Items</h1>
  </div>
  <div class="small-12 medium-4 columns">
    <%= link_to 'New Item', new_admin_restaurant_item_path(@restaurant), class: "button radius success" %>
  </div>

  <div class="small-12 columns">
    <%= render partial: 'partials/items/datatable' %>
  </div>
  <%= render partial: "admin/restaurants/footer" %>
</div>
