<div class="row">
  <div class="small-12 columns">
    <h1>New <%= @restaurant.name.pluralize %> Item</h1>
  </div>
  <%= render 'form' %>
  <p>Other fields will show once the basic item has been created</p>
</div>
