<div class="row">
  <div class="small-4 columns">
    <%= @favorite.title %>
  </div>
  <div class="small-8 columns">
    <%= @favorite.description %>
  </div>
  <div class="small-12 columns">
    <%= @favorite.rating %>
  </div>
</div>