<div class="restaurant-show">
  <div class="row grid cards-container">
    <% items.each do |item| %>
      <%= render partial: "items/card", locals: {restaurant: item.restaurant, item: item} %>
    <% end %>
  </div>
  <div class="row">
    <div class="small-12 columns">
      <hr>
      <%= paginate items %>
    </div>
  </div>

</div>
<script>
  var filters = [];
  var $grid;
  $(function(){
    $grid = $('.grid').imagesLoaded(function(){
      $grid.isotope({
        itemSelector: '.card',
        layoutMode: 'fitRows',
        getSortData: {
          name: '.card-title a',
          rating: '[data-item-review-rating] parseInt', // value of attribute
        },
        sortAscending: {
          name: true,
          rating: false,
        }
      });
    });


  });
</script>
