<div class="row">
  <div class="small-12 columns">
    <% if @search.present? %>
      <h2>You are looking for items with: <b><%= @search %></b></h2>
    <% else %>
      <h2>No search provided.</h2>
    <% end %>
  </div>
</div>
<%= render partial: "search/items_found", locals: { items: @items } %>
