<div class="row">
  <div class="small-12 columns">
    <% if @search.present? %>
      <h2>You are looking for: <b><%= @search %></b></h2>
    <% else %>
      <h2>No search provided.</h2>
    <% end %>
  </div>
  <div class="small-12 columns">
    <script>
      $( function() {
        $( "#include, #exclude, #options" ).sortable({
          connectWith: ".connectedSortable",
          cursor: "-webkit-grabbing",
          update: function(event, ui) {
            advancedSearch(ui, $(this));
          }
        })

        function advancedSearch(ui, object){
          //var updating = $(object).attr("id");
          //if (updating == "include" || updating == "exclude")
          var include = $("#include").sortable('toArray').map(item => item.replace('tag_',''));
          var exclude = $("#exclude").sortable('toArray').map(item => item.replace('tag_',''));
          $.ajax({
            type: 'post',
            url: '/search/advanced',
            data: {include: include, exclude: exclude}
          }).done(function(response) {
            console.log(response);
            $("#items-found").html(response);

          });
        };
        //.disableSelection();
      } );
    </script>

      <div class="row">
        <div class="small-12 medium-4 columns">
          <span>Include</span>
          <div id="include" class="connectedSortable ">
          </div>
        </div>
        <div class="small-12 medium-4 columns">
          <span>Prefrences</span>
          <div id="options" class="connectedSortable tag-flex-container">
            <% @tags.each do |tag| %>
              <%= render partial: "tags/block", locals: {tag: tag, size: :small} %>
          <% end %>
          <% @foods.each do |food| %>
            <% "<span class='food' id='food-#{food.id}'>#{food.name}</span>".html_safe %>
          <% end %>
        </div>
      </div>
      <div class="small-12 medium-4 columns">
        <span>Exclude</span>
        <div id="exclude" class="connectedSortable ">
        </div>
      </div>
    </div>

  </div>
  <div id="items-found">
    <%= render partial: "search/items_found", locals: {items: @items.results} %>
  </div>
  <div id="restaurants-found">
    <%# <%= render partial: "search/restaurants_found", locals: {restaurants: @restaurants.results} %1> %>
  </div>
</div>
