<div class="row">
  <div class="small-12 columns">
    <h2><%= @items.count %> items with the <%= search_type %> of: <b><%= name %></b></h2>
  </div>
  <div style="display:inline-flex;flex-wrap:wrap;">
    <% @items.each do |item| %>
      <%= render partial: "items/show", locals: {item: item} %>
    <% end %>
  </div>
</div>
