<div class="columns small-12">
  <h2>BiteWorthy members:</h2>
</div>
<div class="small-12 columns agree-text">
  Agree to not hold BiteWorthy accountable to for any information that might be WRONG, mis-labeled, incomplete or out of date.
  <br><br>
  We welcome your input to improve and expand the BiteWorthy database.
  <br><br>
  Always talk to your server if you have dietary restrictions or allergies.
  <br><br>
  Thank you and enjoy.
  <br><br>
</div>
