<div class="row">
  <div class="small-12 columns">
    <div class="actions universal-flex-container">
      <% if devise_mapping.confirmable? && controller_name != 'confirmations' %>
        <%= link_to "Didn't receive confirmation instructions?", new_user_confirmation_path(resource_name), class: "universal-flex-button flex-button-natural" %><br />
      <% end %>

      <% if devise_mapping.lockable? && resource_class.unlock_strategy_enabled?(:email) && controller_name != 'unlocks' %>
        <%= link_to "Didn't receive unlock instructions?", user_unlock_path(resource_name), class: "universal-flex-button flex-button-natural" %><br />
      <% end %>

    </div>
  </div>
</div>
