<div class="small-12 columns">
  <h3>Foods:</h3>
</div>
<div class="small-12 medium-4 columns">
  <%= render partial: "admin/additions/foods/list", locals: {addition: @addition } %>
</div>
<div class="small-12 medium-8 columns">
  <%= render partial: "admin/additions/foods/select", locals: {restaurant: @restaurant, addition: @addition, foods: @foods} %>
  <%= render partial: "admin/additions/foods/form",   locals: {restaurant: @restaurant, addition: @addition} %>
</div><hr>