<%= simple_form_for([:admin, @restaurant, @addition], url: admin_restaurant_addition_add_foods_path(@restaurant, @addition), method: "POST") do |f| %>
  <div class="row">
    <div class="small-9 columns">
      <%= f.association :foods, collection: @foods, as: :select, label: "Add Foods"%>
    </div>
    <div class="small-3 columns">
      <br><br>
      <%= button_tag "<i class='fi-plus'></i>".html_safe, class: "tiny" %>
    </div>
  </div>
<% end %>
