<%= simple_form_for([:admin, @restaurant, @priced, @price]) do |f| %>
  <div class="row">
     <div class="small-6 columns">
        <%= f.input :value %>
     </div>
     <div class="small-6 columns">
        <%= f.input :size %>
     </div>
  </div>
   <div class="small-12 columns">
     <%= f.submit class: "button tiny success radius" %>
  </div>
<% end %>