<%= simple_form_for([:admin, @restaurant, @priced, @price]) do |f| %>
  <div class="row">
     <div class="small-12 medium-6 columns">
        <%= f.input :value %>
     </div>
     <div class="small-12 medium-6 columns">
        <%= f.input :size %>
     </div>
  </div>
  <div class="small-12 columns universal-flex-container">
    <%= f.submit class: "universal-flex-button flex-button-natural" %>
  </div>
<% end %>
