<%= simple_form_for([:admin, @restaurant, @priced, @price]) do |f| %>
  <div class="row universal-flex-container">
     <div class="small-12 medium-6 large-4 columns">
        <%= f.input :value, placeholder: "11.00" %>
     </div>
     <div class="small-12 medium-6 large-4 columns">
        <%= f.input :size, placeholder: "small/medium/large" %>
     </div>
     <div class="small-12 large-4 columns">
       <label class="show-for-large">&nbsp;</label>
       <%= f.submit class: "universal-flex-button flex-button-natural" %>
     </div>
  </div>
<% end %>
