<div class="row">
  <div class="small-12 columns">
    <h1>Price for:</h1>

    <% if @priced.class.to_s == "Extra" %>
      <h3><%= "#{@priced.restaurant.name} #{@priced.extrable.name}" %></h3>
    <% else %>
      <h3><%= "#{@priced.restaurant.name} #{@priced.name}" %></h3>
    <% end %>
  </div>

  <%= render 'form' %>
</div>
