<div class="row">
	<div class="small-12 columns">
      <div class="icon-bar three-up">
         <a class="item" href="<%=root_path%>">
            <i class="fi-home"></i>
            <label>BWD</label>
         </a>
         <a class="item" href="">
            <i class="fi-magnifying-glass"></i>
            <label>Search</label>
         </a>
         <a class="item"  href="<%=admin_home_path%>">
            <i class="fi-torso"></i>
            <label>Login</label>
         </a>
      </div>
   </div>
</div>
