<div class="row">
	<div class="small-12 columns">
		<div class="row">
			<div class="small-12 columns">
				<%= link_to "Restaurants", restaurants_path %>
			</div>
			<div class="small-12 columns">
				<%= link_to "Food Items", food_items_path %>
			</div>
			<div class="small-12 columns">
			</div>
		</div>
	</div>
</div>
