<div class="row">
	<div class="small-12 columns">
		<div class="row">
			<div class="small-12">
				<%= link_to "Restaurant", restaurants_path %>
			</div>
			<div class="small-12">
				<%= link_to "Food Item", food_items_path %>
			</div>
		</div>
	</div>
</div>
