<table class="small-12" id="admin-tags-table" data-source="<%= admin_tags_path(format: :json) %>">
  <thead>
    <tr>
      <th>Name</th>
      <th>Description</th>
      <th>Variety</th>
      <th>Icon?</th>
      <th></th>
    </tr>
  </thead>

  <tbody>
  </tbody>
</table>
