<div class="row">
   <div class="small-10">
   <h1>Admin BWD</h1>
      <div class="row">
         <div class="small-12">
            <%= link_to "Restaurant", admin_restaurants_path %>
         </div>
         <div class="small-12">
            <%= link_to "Menu Group", admin_menu_groups_path %>
         </div>
         <div class="small-12">
            <%= link_to "Item", admin_food_items_path %>
         </div>
      </div>
   </div>
</div>
