<div class="row">
   <div class="small-12 columns">
      <br>
      <div class="row">
         <div class="small-4 columns">
            <h4><%= link_to "Restaurants", admin_restaurants_path %></h4>
         </div>         
         <div class="small-4 columns">
            <h4><%= link_to "Menu Groups", admin_menu_groups_path %></h4>
         </div>
         <div class="small-4 columns">
            <h4><%= link_to "Bite Worthy Foods", admin_food_items_path %></h4>
         </div>
      </div>
   </div>
</div>
