<div class="small-6 columns">
  <!-- restaurant_item_filter -->
  <%= label_tag "Filter by Restaurant:" %>
  <% if params[:restaurant_id] %>
    <%= select_tag('restaurant_id', options_for_select(restaurants.map {|r| [ r.name, r.id ]}, selected: params[:restaurant_id]), onchange: "document.getElementById('menu_group_id').value =null;this.form.submit();") %>
    <%= link_to 'New Item', new_admin_restaurant_item_path(params[:restaurant_id]), class: "button tiny radius success" %>

  <% else %>
    <%= select_tag('restaurant_id', options_for_select(restaurants.map {|r| [ r.name, r.id ]}), onchange: "this.form.submit();", prompt: "Choose...") %>
  <% end %>
</div>
