<div class="small-12 columns">
  <h3>Tags:</h3>
</div>
<div class="small-12 medium-4 columns">
  <%= render partial: "admin/foods/tags/list", locals: {food: @food } %> </div>
<div class="small-12 medium-8 columns">
  <%= render partial: "admin/foods/tags/select", locals: {restaurant: @restaurant, food: @food, tags: @tags} %>
  <%= render partial: "admin/foods/tags/form",   locals: {restaurant: @restaurant, food: @food} %>
</div><hr>
