<%= render :partial => '/restaurants/restaurant_header', locals: {restaurant: @restaurant} %>
<div class="row">
  <div class="small-12 medium-6 large-4 columns">
    <h3>
      <%= @choice.name.capitalize %>
    </h3>
    <p align="none">
      <%= @choice.description %>
    </p>
  </div>
    <div class="small-12 medium-6 large-8 columns">

    Choices are:
    <% if @choice.foods %>
      <%= @choice.foods.map {|food| link_to(food.name, restaurant_food_path(@restaurant, food)) }.to_sentence(words_connector: " or ", last_word_connector: " or ").html_safe %>
    <% end %>
  </div>
</div>
