<%= simple_form_for(extra, url: admin_restaurant_extra_add_foods_path(restaurant, extra), method: "POST") do |f| %>
  <%= hidden_field_tag 'extra_id', extra.id %>
  <div class="row universal-flex-container">
    <div class="small-10 columns">
      <%= f.association :foods, collection: foods, as: :select, label: "Select Multiple"%>
    </div>
    <div class="small-2 columns">
      <label>&nbsp;</label>
      <%= button_tag "<i class='fi-list'></i><i class='fi-plus'></i>".html_safe, class: "universal-flex-button flex-button-natural vertical-center" %>
    </div>
  </div>
<% end %>
