<%= form.file_field :image, name: "image[]", label: "Upload an image", multiple: true %>
<% if item.photos.present? %>
  <% item.photos.each do |photo| %>
    <div class="small-12 medium-4 large-3 columns p">
      <%= image_tag photo.image(:thumb) %>
      <% item_class = item.class.to_s.downcase %>
      <% delete_path = Rails.application.routes.url_helpers.send(
        "admin_restaurant_#{item_class}_remove_photo_path",
        restaurant_id: @restaurant.id, "#{item_class}_id".to_sym => item.id, photo_id: photo.id
      ) %>
      <%= link_to 'x', delete_path, method: :post, style: 'color:red; position:relative;', class: "close" %>
    </div>
  <% end %>
<% end %>
