<div class="row">
   <div class="small-12 columns">
      <h1 align="center">Your Bite Worthy Stars!</h1>
   </div>
    <div class="small-12 columns">
       <% @stars.each do |star| %>
       <% starable = Item.find(star.star_id) %>
       <div class="small-6 columns">
         <%= render partial: "/#{star.star_type.downcase.pluralize}/show", locals: {item: starable} %>
       </div>
       <% end %>
    </div>
</div>
