<%= form_tag admin_ingredient_add_tag_path(ingredient), method: :post do %>
  <div class="row">
    <div class="small-9 columns">
      <%= select_tag('tag_id', options_for_select(tags.map {|f| [ f.name, f.id ]}), prompt: "Add tag:") %>
    </div>
    <div class="small-3 columns">
      <%= button_tag "<i class='fi-plus'></i>".html_safe, class: "tiny" %>
    </div>
  </div>
<% end %>
