$light_gray: #e6e6e6;
$dark_gray: #333;
$color: #b7d54d;
$bw_blue: #008CBA;

//////////////////
// Theme 1      //
// (Dark theme) //
//////////////////

$t1_black: #151515;
$t1_dkGrey: #3B3B3B;
$t1_medGrey: #707070;
$t1_ltGrey: #EBEBEB;
$t1_white: #FFFFFF;
