@mixin bg-blk { background: $t1_black; }
@mixin bg-dkGrey { background: $t1_dkGrey; }
@mixin bg-medGrey  { background: $t1_medGrey; }
@mixin bg-ltGrey { background: $t1_ltGrey; }
@mixin bg-white { background: $t1_white; }
