.footer {
  background-color: #2F2E2E;
  opacity: .9;
  bottom: 0px;
  position: fixed;
  text-align: center;
  width: 100%;
  // left: 50%;
  padding: 2px;
  p {
    margin: 0px;
    color: black;
  }
  i{
    color: black;
  }
  a {
    &:hover, &:active {
      color: $bw_blue;
    }
  }
}
