<div class="small-12  columns">
  <h2>Preferences</h2>
  <h5>Based on your reviews:</h5>
    <table>
      <thead>
        <td>Likes:</td>
        <td>OK</td>
        <td>Dis-likes</td>
        <td>Undecided</td>
      </thead>
      <tbody>
        <tr>
          <td>
            <% @liked_foods.each do |food| %>
              <%= link_to food.name, restaurant_food_path(food.restaurant, food) %>
            <% end %>
          </td>
          <td>
            <% @meh_foods.each do |food| %>
              <%= link_to food.name, restaurant_food_path(food.restaurant, food) %>
            <% end %>
          </td>
          <td>
            <% @disliked_foods.each do |food| %>
              <%= link_to food.name, restaurant_food_path(food.restaurant, food) %>
            <% end %>
          </td>
          <td>
            <% @huh_foods.each do |food| %>
              <%= link_to food.name, restaurant_food_path(food.restaurant, food) %>
            <% end %>
          </td>
        </tr>
      </tbody>
    </table>

</div>
<hr>
<style>
  a {
    text-decoration: underline;
  }
</style>
