<div class="small-12  columns">
  <hr>
  <h2>Reviews</h2>
</div>
<%# TODO Tab based %>
<%# <div class="small-12 medium-6 columns"> %>
<%#   <h3>Tags:</h3> %>
<%#   <%= render partial: "users/review_list", locals: {reviews: tag_reviews} %1> %>
<%# </div> %>
<div class="small-12 columns">
  <h3>Items:</h3><br>
  <%= render partial: "users/review_list", locals: {reviews: item_reviews} %>
</div>
<%# <div class="small-12 medium-4 columns"> %>
<%#   <h3>Restaurants:</h3> %>
<%#   <%= render partial: "users/review_list", locals: {reviews: restaurant_reviews} %1> %>
<%# </div> %>
