<div class="row">
  <div class="small-12  columns">
    <h2>Dynamic Ratings</h2>
  </div>
  <div class="small-12 columns">
    <h3>Food matches:</h3><br>
    <ul>
      <% @food_ratings.sort_by{|k, v| v['percent']}.reverse.each do |food, value| %>
        <li><%= value['percent'] %>% for <%= link_to food.name, restaurant_food_path(food.restaurant, food) %></li>
      <% end %>
    </ul>
  </div>
</div>

