<fieldset>
  <legend>
    <h4>Foods:</h4>
  </legend>
<div class="small-12 medium-4 columns" id="foods_list">
  <%= render partial: "admin/items/foods/list", locals: {item: @item } %>
</div>
<div class="small-12 medium-8 columns">
  <%= render partial: "admin/items/foods/select", locals: {restaurant: @restaurant, item: @item, foods: @foods} %>
  <%= render partial: "admin/items/foods/form",   locals: {restaurant: @restaurant, item: @item} %>
</div>
</fieldset>
