<ul class="food-list">
  <% @item.foods.map do |food| %>
    <% ingredient = food.ingredients.first %>
    <li>
      <%= link_to Icon.sub_i.html_safe, ingredient_path(ingredient) if (ingredient) %>
      <%= link_to food.name, edit_admin_restaurant_food_path(@restaurant, food) %>
      <%= link_to Icon.sup_x.html_safe, "#", class: "item-remove-food", data: {food_id: food.id} %>
    </li>
  <% end %>
</ul>
<script>
  $(function() {
    itemRemoveFood();
  });
</script>
