<div class="row">
  <div class="small-4 columns">
    <%= show_image(item, image_class: "restaurant-home-image-small") %>
  </div>
  <div class="small-4 columns">
    <h3 style="float:left;">
      <%= item.name %>
    </h3>
  </div>
</div>
