<div class="row">
  <div class="small-4 columns">
    <%= PhotoDecorator.decorate(item.photos).display %>
  </div>
  <div class="small-4 columns">
    <h3 style="float:left;">
      <%= item.name %>
    </h3>
  </div>
</div>
