<div class="row">
	<div class="small-12 columns">
		<h1>New Ingredient</h1>
		<h2><% if @restaurant %>
        For <b><%= @restaurant.name %></b>
      <% end %>
      <% if @food %>
        food: <b><%= @food.name %></b>
      <% end %></h2>

		<%= render 'form' %>
	</div>
</div>
