<div class="row">
  <div class="small-3 medium-3 large-3 columns">
    <%= render partial: 'image', locals: {ingredient: @ingredient} %>
  </div>
  <div class="small-9 medium-9 large-9 columns">
    <%= render partial: 'name_desc', locals: {ingredient: @ingredient} %>
  </div>
</div>
<% if current_user && current_user.is_admin? %>
  <%= link_to "<i class='fa fa-edit'></i>".html_safe, edit_admin_ingredient_path(@ingredient) %>
<% end %>
