<div class="row">
  <div class="small-3 medium-3 large-3 columns">
    <%= render :partial => 'image', locals: {ingredient: @ingredient} %>
  </div>
  <div class="small-9 medium-9 large-9 columns">
    <%= render :partial => 'name_desc', locals: {ingredient: @ingredient} %>
  </div>
</div>