<h1>Editing <%=link_to @restaurant.name, admin_restaurant_path(@restaurant) %> Extra:</h1>

<%= render 'form' %>

<%= render partial: "admin/restaurants/footer", locals: {buttons: [(link_to "#{@restaurant.name} Extras", admin_restaurant_extras_path(@restaurant), class: "button tiny")]} %>
