<div class="row">
  <div class="small-12 columns">
    <h1>Editing <%=link_to @restaurant.name, admin_restaurant_path(@restaurant) %> Extra:</h1>
  </div>

  <%= render 'form' %>

  <%= render partial: "admin/restaurants/footer", locals: {buttons: [(link_to "All extras", admin_restaurant_extras_path(@restaurant), class: "universal-flex-button flex-button-natural")]} %>
</div>
