<div class="row">
  <div class="small-12 columns">
    <h1>BiteWorthy Ingredient</h1>
  </div>

  <%= render 'form' %>

  <div class="small-12 columns">
    <br>
    <%= link_to 'All Ingredients', admin_ingredients_path, class: "button small" %>
  </div>
</div>
