<div class="row">
  <div class="small-12 columns">
    <%= link_to @restaurant.name, admin_restaurant_path(@restaurant), class: "right button info tiny" %>
    <% buttons ||= [] %>
    <% buttons.each do |button| %>
      <%= button.html_safe %>
    <% end %>
  </div>
</div>
