<div class="row">
  <div class="small-12 columns">
    <% if @restaurant.new_record? %>
      <h1>Editing restaurant</h1>
    <% else %>
      <h1>Editing <%= @restaurant.name %></h1>
    <% end %>
    <%= render 'form' %>

    <%= render partial: "admin/restaurants/footer", locals: {left_button: (link_to "View", restaurant_path(@restaurant), class: "button tiny round") } %>
  </div>
</div>