<div class="row">
  <div class="small-12 columns">
    <% if @restaurant.new_record? %>
      <h1>Editing restaurant</h1>
    <% else %>
      <h1>Editing <%= @restaurant.name %></h1>
    <% end %>
    <%= render 'form' %>

    <hr>
  </div>
  <%= render partial: "admin/restaurants/footer", locals: {buttons: [(link_to "View", restaurant_path(@restaurant), class: "universal-flex-button flex-button-natural")] } %>
</div>
