<div class="row">
  <div class="small-12 columns">
     <div style="padding: 2px; text-align:left;margin-top: auto; margin-bottom: auto;">
        <h2><%= menu_group.name.singularize %></h2>
        <%= menu_group.description %>
     </div>
  </div>
</div>
