<div class="row">
  <div class="small-12 medium-8 columns">
    <h1>Manage Tags</h1>
  </div>
  <div class="small-12 medium-4 columns universal-flex-container">
    <%= link_to '<i class="fa fa-plus"></i>'.html_safe, new_admin_tag_path, class: "universal-flex-button flex-button-natural vertical-center" %>
  </div>
</div>

<div class="row">
  <div class="small-12 columns">
    <%= render partial: 'partials/tags/datatable' %>
  </div>
</div>
