<div class="row">
  <div class="small-12 medium-6 columns">
    <h3>What is BiteWorthy about?</h3>
    <ul>
      <li>Digitizing and categorizing menus.</li>
      <li>Profile personalization for dynamic filtering.</li>
      <li>Community contributions with restaurant verification.</li>
    </ul>
  </div>
  <div class="small-12 medium-6 columns">
    <h3>Other useful info</h3>
    <ul>
      <li><%= link_to "Git nerdy", "https://github.com/shadoath/biteworthy" %></li>
      <li><%= link_to "Terms of Service", terms_of_service_path %></li>
      <li><%= link_to "Privacy Policy", privacy_policy_path %></li>
    </ul>
  </div>
  <div class="small-12 columns">
    <div class="actions wb-flex">
      <% if !current_user %>
        <%= link_to "Create an Account".html_safe, new_user_registration_path, class: "btn-bw-green", style: "margin:.5rem;" %>
      <% end %>
    </div>
  </div>
</div>
