<div id="levels" class="row">
  <div class="small-12 columns">
    <h3>BiteWorthy members have the ability to become</h3>
  </div>
  <div class="small-12 medium-5 columns">
    <h5>more</h5>
    <%= render partial: "partials/levels/table", locals: { levels: @good_levels } %>
  </div>
  <div class="small-12 medium-2 columns">
    <h5 class="center">OR</h5>
  </div>
  <div class="small-12 medium-5 columns">
    <h5>less</h5>
    <%= render partial: "partials/levels/table", locals: { levels: @bad_levels } %>
  </div>
</div>
