<div class="small-12 columns">
  <h3>BiteWorthy members have the ability to become</h3>
</div>
<div class="small-12 medium-6 columns">
  <p>More:</p>
  <ul>
    <% @good_levels.each do |level| %>
      <li><b><%= level[0].capitalize %></b> | <%= level[1] %></li>
    <% end %>
  </ul>
</div>
<div class="small-12 medium-6 columns">
  <p>or less:</p>
  <ul>
    <% @bad_levels.each do |level| %>
      <li><b><%= level[0].capitalize %></b> | <%= level[1] %></li>
    <% end %>
  </ul>
</div>
</div>
