<div class="small-12 columns">
  <h3>Foods:</h3>
</div>
<div class="small-12 medium-4 columns">
  <%= render partial: "admin/extras/foods/list", locals: {extra: @extra } %>
</div>
<div class="small-12 medium-8 columns">
  <%= render partial: "admin/extras/foods/select", locals: {restaurant: @restaurant, extra: @extra, foods: @foods} %>
  <%= render partial: "admin/extras/foods/form",   locals: {restaurant: @restaurant, extra: @extra} %>
</div><hr>