<table class="small-12" id="admin-ingredients-table" data-source="<%= admin_ingredients_path(format: :json) %>">
  <thead>
    <tr>
      <th>Name</th>
      <th>Normalized name</th>
      <th>Tags</th>
      <th></th>
    </tr>
  </thead>

  <tbody>
  </tbody>
</table>
