<%= simple_form_for(item, url: admin_restaurant_item_add_new_price_path(restaurant, item), method: :post) do |f| %>
  <fieldset class='inner'>
    <legend>Add</legend>
    <div class="row universal-flex-container">
      <div class="small-4 columns">
        <input type="text" id="price_value" name="price_value" placeholder="11.00" />
      </div>
      <div class="small-6 columns">
        <input type="text" id="new_size" name="new_size" placeholder="Size" />
      </div>
      <div class="small-2 columns">
        <%= button_tag "<i class='fa fa-plus'></i>".html_safe, id: "item-add-new-price", class: "universal-flex-button flex-button-natural vertical-center no-right-margin" %>
      </div>
    </div>
  </fieldset>
<% end %>
