<div class="row padded">
  <div class="small-12 medium-6 columns">
    <%= render partial: "admin/items/prices/list", locals: {restaurant: @restaurant, item: @item} %>
    <%= render partial: "admin/items/prices/form", locals: {restaurant: @restaurant, item: @item} %>
  </div>
</div>
