<div class="small-12 columns">
  <fieldset>
    <legend>
      <h4>Foods</h4>
    </legend>
    <div class="small-12 medium-4 columns">
      <div id="foods_list">
        <%= render partial: "admin/foods/inner/list", locals: {restaurant: restaurant, object: object} %>
      </div>
    </div>
    <div class="small-12 medium-8 columns">
      <%= render partial: "admin/foods/inner/select", locals: {object: object, foods: foods} %>
      <%= render partial: "admin/foods/inner/form",   locals: {restaurant: restaurant, object: object} %>
    </div>
  </fieldset>
</div>
