<%= simple_form_for(object, url: send("admin_restaurant_#{object_class}_add_foods_path", restaurant, object), method: "POST") do |f| %>
  <%= hidden_field_tag "#{object_class}_id", object.id %>
  <div class="row universal-flex-container">
    <div class="small-10 columns">
      <%= f.association :foods, collection: foods, as: :select, label: "Select Multiple"%>
    </div>
    <div class="small-2 columns">
      <label>&nbsp;</label>
      <%= button_tag "<i class='fa fa-list'></i> <i class='fa fa-plus'></i>".html_safe, class: "universal-flex-button flex-button-natural vertical-center", title: "Add multiple" %>
    </div>
  </div>
<% end %>
