<% size ||= :tiny %>
<% ratio = "32x32" %>
<div class="tag-flex-container button-group filter-button-group">
  <div class='tag-block active' id="show-all-tags">
    <button data-filter="*">All Tags</button>
  </div>
  <% tags.each do |tag| %>
    <div class='tag-block'>
      <button data-filter=".<%= tag.name %>">
        <% if tag.icon.present? %>
          <%= image_tag(tag.icon.url(size), tooltip: tag.name.tr("-", " ").capitalize, title: tag.name.tr("-", " ").capitalize).html_safe %>
        <% else %>
          <%= image_tag "empty.png", size: ratio, class: "icon-size-#{size.to_s}" %>
        <% end %>
        <%= tag.name %>
      </button>
    </div>
  <% end %>
</div>
<span id="filter-count" class="flex-center"></span>
