<div class="row">
  <% size ||= :tiny %>
  <% ratio ||= "32x32" %>
  <div class="tag-flex-container button-group filter-button-group">
    <div class='tag-block active' id="show-all-tags">
      <button data-filter="*">All Tags</button>
    </div>
    <% tags.each do |tag| %>
      <div class='tag-block' data-filter=".<%= tag.name %>">
        <button>
          <%= render partial: "tags/icon", locals: { tag: tag, size: size, ratio: ratio } %>
          <%= tag.name %>
        </button>
      </div>
    <% end %>
  </div>
  <span id="filter-count" class="flex-center"></span>
</div>
