<div class="row">
  <div class="small-4 medium-6 large-4 columns">
    <%= render partial: "tags/block", locals: {tag: item} %>
  </div>
  <div class="small-12 medium-6 large-8 columns">
    <h3>
      <%= link_to item.name, tag_path(item)%>
    </h3>
    <p class="desc">
      <%= item.description %>
    </p>
  </div>
</div>
