<div class="row">
	<div class="small-12 columns">
		<h1>Manage Tags</h1>
	</div>
</div>

<div class="row">
	<div class="small-12 columns">
		<%= link_to raw('<i class="fi-plus"></i> New Tag'), new_tag_path, :class => "button tiny" %>
		<table class="small-12">
		  <thead>
		    <tr>
		      <th style="width: 56px;"></th>
		      <th>Tag</th>
 		      <th></th>
		      <th style="width: 28px;"></th>
		    </tr>
		  </thead>

		  <tbody>
		    <% @tags.each do |tag| %>
		      <tr>
		        <td>
					<%= link_to raw('<i class="fi-page-edit"></i>'), edit_tag_path(tag) %>
				</td>
				<td><%= tag.name %></td>
				<td>
					
				</td>
               <% if current_user && current_user.is_admin %>
		        <td><%= link_to raw('<i class="fi-trash"></i>'), tag_path(tag), method: :delete, data: { confirm: 'Are you sure you want to remove this tag?' } %></td>
               <% end %>
		      </tr>
		    <% end %>
		  </tbody>
		</table>
		
	</div>
</div>