<div class="row">
  <div class="small-12 columns">
    <h1>Tag</h1>

    <p><b>Name:</b> <%= @tag.name.capitalize %></p>
    <p><b>Descrpition:</b> <%= @tag.description %></p>
    <p><b>Variety:</b> <%= @tag.variety %></p>
    <p><b>Icon:</b> Comming soon!</p>
    <hr>
    <p>**In Development**</p>
  </div>
</div>
