<div class="row">
  <div class="small-12 columns">
    <h1>New Variety</h1>
  </div>

  <%= render 'form' %>

  <div class="small-12 columns">
    <%= link_to 'Back', varieties_path %>
  </div>
</div>
