<table class="small-12" id="admin-points-table" data-source="<%= admin_points_path(format: :json) %>">
  <thead>
    <tr>
      <th>User</th>
      <th>Object</th>
      <th>ID</th>
      <th>Change type</th>
      <th>Worth</th>
      <th>Changes</th>
      <th>Date</th>
      <th>Actions</th>
    </tr>
  </thead>

  <tbody>
  </tbody>
</table>
