<div class="tag-flex-container">
  <% item.tags.map do |tag| %>
    <%= render partial: "tags/block", locals: {tag: tag, admin_edit: true} %>
  <% end %>
</div>
<div class="tag-actions universal-flex-container">
  <%= link_to "Tag Up", '#', id: "item-tag-up", class: "universal-flex-button flex-button-natural" %>
  <br>
  <%= link_to "Clear tags", '#', id: "item-remove-tags", class: "universal-flex-button flex-button-natural" %>
</div>
<script>
  $(function() {
    itemRemoveTag();
    itemRemoveTags();
    itemTagUp();
  });
</script>
