.sliders {
  text-align: center;
  span{
    display: block;
  }
  legend {
    text-align: left;
  }
  input {
    width: 90%;
  }
  .slider{
    margin-top: .5rem;
    margin-bottom: .5rem;
  }
}
.choose-tags-title{
  margin-top: .5rem;
}
