.home-logo {
  // background-color: white;
  display: flex;
  justify-content: center;
  // margin-bottom: .5rem;
  padding-top: .5rem;
  img{
    width: auto;
    height: auto;
  }
  @media screen and (max-width: 64.9375em) {
  }
  @media screen and (max-width: 39.9375em) {
    margin-bottom: .5rem;
    line-height: 1.25em;
    img {
      max-height: 100px;
    }
  }
}

.bw-top-bar {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  // background-color: #2F2E2E;
  background-color: #fff;
  margin-bottom: 10px;
  border-radius: .25rem;
  .admin-nav ul{
    display: flex;

    a {
      flex-grow: 1;
    }
    form {
      flex-grow: 18;
      display: flex;
      width: unset;
      margin-bottom: 0;
      input {
        flex-grow: 5;
      }
      button {
        flex-grow: 1;
      }
    }
    li {
      flex-grow: 1;
    }
  }
  .search-form {
    .search-bar {
      border-radius: 0;
      border-top-right-radius: 0;
      border-bottom-right-radius: 0;
      border-top-left-radius: .25rem;
      border-bottom-left-radius: .25rem;
      margin-bottom: 0;
    }
    .search-go {
      border-radius: 0;
      border-top-right-radius: .25rem;
      border-bottom-right-radius: .25rem;
      border-top-left-radius: 0;
      border-bottom-left-radius: 0;
      margin-bottom: 0;
    }
  }
}

