@import "../_var_and_mix/*";
@import "../_foundation/_settings";

.header-container {
  @include bg-dkGrey;
  position: relative;

  .home-logo {
    display: flex;
    justify-content: center;
    padding: 1.5rem 0;
    margin: 0 auto;
    img{
      width: auto;
      height: auto;
    }
    @include breakpoint(small only) {
      width: 300px;
      line-height: 1.25em;
      img {
        max-height: 100px;
      }
    }
  }

  a.slideout-menu-toggle {
    position: absolute;
    margin: auto;
    top: 0; left: 0; bottom: 0;
    height: 1.5rem;
    padding: 0 1rem;
  }
}



.bw-top-bar {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  // background-color: #2F2E2E;
  background-color: #fff;
  margin-bottom: 10px;
  border-radius: .25rem;

  .search {
    form {
      display: flex;
    }
    input {
      display: flex;
    }
    .search-bar{
      flex-grow: 4;
          margin: .5rem;
    }
    .search-go{
      flex-grow: 1;
      margin: .5rem;
    }
    button {
      padding: 0;
    }
  }

  .top-bar-right{
  }

}
