@import "../_var_and_mix/general_mixins";
@import '../_var_and_mix/_variables';
.item-container {
  background: white;
  padding: 5px;
  border-radius: .25em;
  @include card-shadow;

  .item-name {
    text-align: center;
    @media screen and (max-width: 39.9375em) {
      font-size: 1.5em;
    }
  }
  .item-image {
    a img, img {
      max-height: 250px;
      border-radius: 10px;
    }

  }
  .item-price{
    // color: #b7d54d;
    color: $color;
    text-align: center !important;
    font-size: 1em;
    // font-weight: 600;

  }
  .food-list-title{
    color: black;
  }
  p.desc {

    color: black;
  }
  .search-items-show{
    margin: .5rem;
    padding: .5rem;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    .item-show{
      padding: 5px;
      display: flex;
      flex-direction: column;
      flex-basis: 100%;

      @media screen and (min-width: 40rem) and (max-width: 63.9375rem){
        flex-basis: 50%;
      }
      @media screen and (min-width: 64rem) {
        flex-basis: 30%;
      }
    }
  }
  fieldset {
    border: solid;
    padding: .25rem;
    margin: .25rem;
    border-radius: 5px;
    border-color: #b7d54d;

    &.inner {
      border-width: 2px;
      border-color: #CEE3F6;
    }
    legend {
      margin-bottom: 0rem;
      padding: 0 .2rem;
      margin-left: .5rem;
    }
  }
}
.review-card {
  padding: 0;
  .row{
    width: 100%;
    background: white;
    margin: 5px;
    border-radius: .25em;
    @include card-shadow;
    .columns{
      padding: 3px;
    }
  }
}
