@import 'settings';
@import "_var_and_mix/general_mixins";

.restaurant-home-container{
  padding: 0;
  padding: 10px;

  .restaurant-home-image-small {
    height: auto;
    width: 100%;
  }
}
.restaurant-header {
  display: flex;
  border-bottom: 5px;
  border-color: skyblue;
  padding: 10px 0;
  &.simple{
    .restaurant-name{
      text-align: center;
    }

  }
  .restaurant-header-title{
    // max-height: 5rem;
  }
  .restaurant-head-image {
    img {
      border-radius: .25em;
      @include card-shadow;
    }
  }
  .restaurant-name{
    padding-top: 5px;
    a {
      color: black !important;
      font-family: 'Amaranth';
    }
    .slogan{
      color:black;
      font-size: 1em;
      // position: absolute;
      // bottom: 0;
      left: 0;
    }
  }
  .cash-only{
    width: 100%;
    text-align: center;
    float: right;
    color: red;
    font-size: 15px;
    font-weight: 600;
  }
  .restaurant-home-image-small{
    min-width: 69px;
    width: 100%;
    height: auto;
  }
}

.menu-group-head{
  padding-left: 11px;
  padding-right: 11px;
  font-size: 24px;
  font-family: 'Amaranth';
  background-color: cornflowerblue;
}
.menu-group-description{
  padding-left: 11px;
  font-size: 16px;
  font-family: 'Amaranth';
}

.tabs .tabs-title,
.tabs .tabs-title:hover,
.tabs .tabs-title:focus {
  outline: none;
}

.tabs-title a{
  font-size: 22px;
}

.tabs-panel {
  padding: 0rem !important;
}

.tabs-title > a:focus,
.tabs-title > a[aria-selected='true'] {
  background: #b7d54d;
  color: #000;
}

.l4 {
  margin-left: auto;
  margin-right: auto;
  width: 30%;
}

.item-image{
  padding: 4px 4px 4px 15px !important;
}
.item-description{
  // padding: 4px 4px 4px 4px;
}
.item-price{
  vertical-align: middle;
  font-size: 1.5rem;
  width: 100%;
  // padding: 4px 4px 4px 4px;
}
.review-rating-wrapper{
  position: relative;
  bottom: 0px;
  padding-top: 8px;
  flex-flow: column;
  line-height: 11px;
  // right: 8px !important;
}
.review-rating-show{
  position: absolute;
  top: 5px;
  // right: 8px !important;
  text-decoration-skip: spaces;
}

.cards-container {

  div {
    display:flex;
    flex-wrap:wrap;
    justify-content:space-evenly
  }
  .card {
    background: none;
    border: 0px solid #e6e6e6 !important;
    box-sizing:border-box;
    margin-bottom: 0rem !important;
    padding: 5px;
    .card-content {
      @include card-shadow;
      background: white;
      border-radius: .25em;
      border-radius: .25rem;
      border: 1px solid rgba(0,0,0,.25);
      display: flex;
      flex-grow: 1;
      margin-left: auto;
      margin-right: auto;
      padding: 5px 5px 5px 5px;
      text-align: left;
      .card-title {
        padding-top: 10px;
      }
      .card-image img{
        border-radius: 5px;
        max-height: 300px;


      }

      @include breakpoint(medium only){

      }
    }
  }
}
