.keep-size:before {
  content: "\00a0";
  font-size: 0;
}

.review-button-text {
  min-width: 6rem;
}
.vis-hidden {
  visibility: hidden;
}
#review-index {
  .title {
    justify-content: left;
  }
}

