@import "../_var_and_mix/general_mixins";
.tag-flex-container {
  display: flex;
  justify-content: center;
  flex-flow: row wrap;
  width: 100%;
  margin-bottom: 1rem;
  &.filter-button-group, &.sort-by-button-group {
    margin: .5rem 0;
    display: flex;
    flex-wrap: wrap;
    align-items: stretch;
    .tag-block, .tag-card {
      border: solid 1px black;
      button {
        text-align: center;
        vertical-align: sub;
      }
      &.active{
        background: grey;
      }
    }
  }

  .tag-block {
    @include tag_block(.25rem, .25rem);
  }
}

p {
  margin-bottom: 0px;
}
.tag-float-right {
  float: right;
}

.tag-size-tiny {
  height: 32px;
  width: 32px;
}
