#user-show {
  td a {
    text-decoration: underline;
  }
}
#levels, #points {
  text-align: center;
  a.email::after {
    content: attr(data-domain);
  }
  a.email::before {
    content: attr(data-user) "\0040";
  }
}
