<div class="row">
  <div class="small-12 columns">
    <h2>Become a BiteWorthy member</h2>
  </div>
    <div class="small-12 columns agree-text">
      By signing up you agree to not hold BiteWorthy accountable to for any information in this app that might be WRONG, mis-labeled, incomplete or out of date.
      <br><br>
      Always talk to your server if you have dietary restrictions or allergies.
      <br><br>
      Thank you and happy eating.
      <br><br>

      <div class="actions universal-flex-container">
        <% if devise_mapping.omniauthable? %>
          <% resource_class.omniauth_providers.each do |provider| %>
            <%= link_to "Sign up with #{provider.to_s.titleize}", omniauth_authorize_path(resource_name, provider), class: "btn-bw-green universal-flex-button flex-button-third" %><br />
          <% end %>
        <% end %>
      </div>
    </div>
</div>
