<table class="small-12" id="admin-users-table" data-source="<%= admin_users_path(format: :json) %>">
  <thead>
    <tr>
      <th>Name</th>
      <th>Email</th>
      <th>Approved?</th>
      <th>Editor?</th>
      <th></th>
    </tr>
  </thead>

  <tbody>
  </tbody>
</table>
