<div class="small-12 columns">
  <hr>
  <% if current_user.present? %>
    <p>Thank you for being a BiteWorth member!</p>
    <p>Email us questions or ideas at <a href="mailto:info@biteworthy.restaurant">info@biteworthy.restaurant</a> or use the feedback form in the footer.
  <% else %>
    <p>Interested in expanding the information here?</p>
    <p><%= link_to "Login", user_session_path %> and become a member, start reviewing to earn points and unlock new features</p>
    <p>Then send an email to <a href="mailto:info@biteworthy.restaurant">info@biteworthy.restaurant</a> requesting more responsibility.
  <% end %>
</div>
