<div class="row">
  <div class="small-4 medium-6 large-4 columns">
    <%= PhotoDecorator.decorate(item.photos).display %>
  </div>
  <div class="small-12 medium-6 large-8 columns">
    <h3>
      <%= item.name %>
    </h3>
    <p class="desc">
      <%= item.description %>
    </p>
  </div>
</div>
