<div class="row">
  <div class="small-4 medium-6 large-4 columns">
    <%= show_image(item) %>
  </div>
  <div class="small-12 medium-6 large-8 columns">
    <h3>
      <%= link_to item.name, restaurant_food_path(item.restaurant, item) %>
    </h3>
    <p class="desc">
      <%= item.description %>
    </p>
  </div>
</div>
