<div class="small-12 medium-6 large-6 columns">
  <div class="row">
    <div class="small-12 medium-5 large-6 columns">
      <% if restaurant.main_image_url %>
        <%= link_to(image_tag(restaurant.main_image_url, class:"restaurant-home-image-small"), restaurant) %>
      <% else %>
        <%= link_to(image_tag("logo_pic.png", class:"restaurant-home-image-small"), restaurant) %>
      <% end %>
    </div>
    <div class="small-12 medium-7 large-6 columns">
      <h4><%= link_to restaurant.name, restaurant %></h4>
      <%= restaurant.slogan %>
    </div>
  </div>
</div>
