<div class="row">
  <div class="small-12 columns" >
    <div class="small-6 columns">
      <div style="padding: 2px; text-align:left;margin-top: auto; margin-bottom: auto;">
        <h1><%= restaurant.name %></h1>
        <%= restaurant.slogan %>
      </div>
    </div>
    <div class="small-6 columns" style="text-align: right; padding-right:0px">
      <%= image_tag("logo_pic.png", size: "120x120", style: "margin: 5px 0px 5px 5px;", class: "right") %>
    </div>
  </div>
</div>
