<div class="row">
   <div class="small-9 columns" >
      <div class="small-6 columns">
         <div style="padding: 2px; text-align:left;margin-top: auto; margin-bottom: auto;">
            <h3 ><%= restaurant.name %></h3>
            <%= restaurant.slogan %>
         </div>
      </div>
      <div class="small-6 columns" style="text-align: right;">
         <%= image_tag("logo_pic.png", size: "120x120", style: "margin: 5px;") %>
      </div>