<h1>Restaurants</h1>

<table>
  <tbody>
    <% @restaurants.each do |restaurant| %>
      <tr>
         <td></td>
         <td><h4><%= link_to restaurant.name, restaurant %></h4><br>
         <%= restaurant.slogan %></td>
      </tr>
    <% end %>
  </tbody>
</table>
<br>