<h1>Listing restaurants</h1>

<table>
  <thead>
    <tr>
      <th>logo</th>
      <th>Name</th>
<!-- TODO map link. -->
    </tr>
  </thead>

  <tbody>
    <% @restaurants.each do |restaurant| %>
      <tr>
         <td></td>
         <td><h4><%= link_to restaurant.name, restaurant %></h4><br>
         <%= restaurant.slogan %></td>
      </tr>
    <% end %>
  </tbody>
</table>
<br>