<div class="row">
   <div class="small-12 columns">
      <h1>Bite Worthy Durango</h1>
      <table>
         <tbody>
            <% @restaurants.each do |restaurant| %>
            <tr>
               <td><%= link_to(image_tag("logo_pic.png", size: "120x120", class:"center-image"), restaurant) %></td>
               <td>
                  <h4><%= link_to restaurant.name, restaurant %></h4><br>
                  <%= restaurant.slogan %>
               </td>
            </tr>
            <% end %>
         </tbody>
      </table>
   </div>
</div>
