<div class="row">
   <div class="small-12 columns">
      <h1>Bite Worthy Durango!</h1>
      <div class="row">
         <% @restaurants.each do |restaurant| %>
         <div class="small-6">
            <div><%= link_to(image_tag("logo_pic.png", size: "120x120", class:"center-image"), restaurant) %></div>
            <div>
               <h4><%= link_to restaurant.name, restaurant %></h4><br>
               <%= restaurant.slogan %>
            </div>
         </div>
         <% end %>
      </div>
   </div>
</div>
