
<div class="small-6 columns">
  <!-- TODO just Ingredients -->
  FOODS:
  <%= item.foods.map {|food| link_to(food.name, restaurant_food_path(@restaurant, food)) }.to_sentence.html_safe %>
  <br>
  <!-- INGREDIENTS:
  <% item.foods.each do |food| %>
    <%= food.ingredients.map {|ingredient| link_to(ingredient.name, ingredient_path(ingredient)) }.to_sentence.html_safe %>
  <% end %> -->
  <%= render :partial => 'choices', locals: {item: @item} %>

</div>
