<div class="row">
  <div class="small-6 columns left">
    <%= link_to "Return to #{item.restaurant.name}", restaurant_path(item.restaurant) %>
  </div>
  <% if current_user && current_user.is_admin? %>
    <div class="small-6 columns right">
      <%= link_to "Edit", edit_admin_restaurant_item_path(item.restaurant, item.restaurant) %>
    </div>
  <% end %>
</div>
