<div class="row">
  <div class="small-6 columns">
    <h3>
      <%= item.name %>
    </h3>
    <p align="none">
      <%= item.description %>
    </p>
  </div>
    <div class="small-6 columns">

    FOODS:
    <% item.foods.each do |food| %>
      <%= link_to food.name, food_path(food) %>,
    <% end %>
  </div>
</div>
