<div class="row">
  <div class="small-6 columns">
    <h3>
      <%= item.name %>
    </h3>
    <p align="none">
      <%= item.description %>
    </p>
  </div>
    <div class="small-6 columns">
    <% unless item.foods.empty? %>
      FOODS:
      <% item.foods.each do |food| %>
        <%= link_to food.name, restaurant_food_path(food.restaurant, food) %>,
      <% end %>
    <% end %>
    <br>
    <% unless item.ingredients.empty? %>
      INGREDIENTS:
      <% item.ingredients.each do |ingredient| %>
        <%= link_to ingredient.name, ingredient_path(ingredient) %>,
      <% end %>
    <% end %>
  </div>
</div>
