<% if current_user %>
  <div id="rating-reviews-item-<%=item.id%>" class="review-rating-wrapper">
    <%= render partial: "/modules/rating_reviews", locals: { reviewable: item } %>
  </div>
<% end %>
