<%= simple_form_for(addition, url: admin_restaurant_addition_add_new_price_path(restaurant, addition), method: :post) do |f| %>
  <div class="row">
    <div class="small-4 columns">
      <input type="text" id="price_value" name="price_value" placeholder="11.00" />
    </div>
    <div class="small-6 columns">
      <input type="text" id="new_size" name="new_size" placeholder="Size" />
    </div>
    <div class="small-2 columns">
        <%= f.submit class: "button tiny radius success", value: 'Add' %>
    </div>
  </div>
<% end %>