<div class="row padded">
  <div class="small-12 medium-6 columns">
    <%= render partial: "admin/additions/prices/list", locals: {restaurant: @restaurant, addition: @addition} %>
    <%= render partial: "admin/additions/prices/form", locals: {restaurant: @restaurant, addition: @addition} %>
  </div>
</div>
