<% if klass.errors.any? %>
  <div id="error_explanation" class="small-12">
    <h2><%= pluralize(klass.errors.count, "error") %> prohibited this item from being saved:</h2>
    <ul>
      <% klass.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
    </ul>
  </div>
<% end %>
