<table class="small-12" id="admin-items-table" data-source="<%= admin_restaurant_items_path(@restaurant, format: :json) %>">
  <thead>
    <tr>
      <th>Restaurant</th>
      <th>Name</th>
      <th>Description</th>
      <th></th>
    </tr>
  </thead>

  <tbody>
  </tbody>
</table>
