<div class="small-12 columns">
  <fieldset>
    <legend>
      <h4>Extras</h4>
    </legend>
    <div class="small-12 medium-4 columns">
      <div id="extras_list">
        <%= render partial: "admin/items/extras/list", locals: {item: @item } %>
      </div>
    </div>
    <div class="small-12 medium-8 columns">
      <%= render partial: "admin/items/extras/select", locals: {restaurant: @restaurant, item: @item, extras: @extras} %>
      <%= render partial: "admin/items/extras/form",   locals: {restaurant: @restaurant, item: @item} %>
      <div id="extras_notice"></div>
    </div>
  </fieldset>
</div>
