<h5>Choices</h5>
  <%= @item.extras.choice.map do |extra|
  "#{link_to(extra.name, edit_admin_restaurant_extra_path(item.restaurant, extra))} <sup>#{link_to 'x', admin_restaurant_item_remove_extra_path(item.restaurant, item, extra_id: extra.id), method: :post}</sup>"
end.to_sentence.html_safe %>
<h5>Additions</h5>
<%= @item.extras.addition.map do |extra|
  "#{link_to(extra.name, edit_admin_restaurant_extra_path(item.restaurant, extra))} <sup>#{link_to 'x', admin_restaurant_item_remove_extra_path(item.restaurant, item, extra_id: extra.id), method: :post}</sup>"
end.to_sentence.html_safe %>
