<%= form_tag admin_restaurant_item_add_extra_path(restaurant, item), method: :post do %>
  <div class="row universal-flex-container no-bottom-margin">
    <div class="small-5 columns">
      <%= select_tag('extra_choice_id', options_for_select(extras.choice.map {|f| [ f.name, f.id ]}), prompt: "Find Choice:") %>
    </div>
    <div class="small-5 columns">
      <%= select_tag('extra_addition_id', options_for_select(extras.addition.map {|f| [ f.name, f.id ]}), prompt: "Find Addition:") %>
    </div>
    <div class="small-2 columns">
      <%= button_tag "<i class='fi-plus'></i>".html_safe, class: "universal-flex-button flex-button-natural vertical-center no-right-margin" %>
    </div>
  </div>
<% end %>
