<%= form_tag admin_restaurant_item_add_extra_path(restaurant, item), method: :post do %>
  <div class="row">
    <div class="small-4 columns">
      <%= select_tag('extra_id', options_for_select(extras.choice.map {|f| [ f.name, f.id ]}), prompt: "Add Choice:") %>
    </div>
    <div class="small-4 columns">
      <%= select_tag('extra_id', options_for_select(extras.addition.map {|f| [ f.name, f.id ]}), prompt: "Add Addition:") %>
    </div>
    <div class="small-2 columns">
      <%= button_tag "<i class='fi-plus'></i>".html_safe, class: "tiny" %>
    </div>
  </div>
<% end %>
