@import '../_var_and_mix/_variables';
i{
  color: black;
}
a{
  color: $bw_blue;
}
a.button{
  color: black;
}
a:hover {
  // background-color: transparent;
  color: #3588CC;
}
a:visited{
  // background-color: transparent;
  color: $bw_blue;
}
.button{
  font-size: 1rem;
}
a:visited.button {
  color: black;
}
label{
  color: black;
}
textarea, option,
input[type] {
  color: black;
}
::-webkit-input-placeholder { /* WebKit, Blink, Edge */
  color: $bw_blue;
}
:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
  color:    $bw_blue;
  opacity:  1;
}
::-moz-placeholder { /* Mozilla Firefox 19+ */
  color:    $bw_blue;
  opacity:  1;
}
:-ms-input-placeholder { /* Internet Explorer 10-11 */
  color:    $bw_blue;
}
