/*
 *= require_tree .
 *= require_self
//= require foundation_and_overrides


 *= require foundation
 *= require dataTables/jquery.dataTables.foundation
 *= require foundation_and_overrides

*/
@import 'foundation-icons';
/* @import "font-awesome-sprockets"; */
@import "font-awesome";
$cursive: 'cookie ', cursive !important;
*{
  font-family: 'Handlee', cursive;
  // color: white;
  opacity: 1;
}
.p {
  padding: 5px;
}
.zpad {
  padding: 0px 0px 0px 0px;
}
.pad {
  padding: 0px 15px 0px 15px;
}
.padded {
  padding: 0px 25px 0px 25px;
}
.padded-2 {
  padding: 0px 35px 0px 35px;
}
.padded-3 {
  padding: 0px 45px 0px 45px;
}
.padded-4 {
  padding: 0px 55px 0px 55px;
}
h1{
  @extend .font-cookie;
  color: white !important;
}
h2{
  font-family: 'cookie', cursive !important;
  color: white !important;
}
h3{
  font-family: 'cookie', cursive !important;
  line-height: 1.0 !important;
  color: white !important;
}
h4{
  font-family: 'cookie', cursive !important;
  color: white !important;
}

.close{
  position: absolute;
  top: 0px;

}
.top-bar{
  background-color: #2F2E2E !important;
  opacity: 1 !important;
  border-bottom-style: solid;
  border-width: medium;
  border-color: #207EA9;
  z-index: 999;
}
.top-bar-section li{
  margin: -4px;
}

.footer {
  background-color: #2F2E2E;
  opacity: .9;
  color: white;
  bottom: 0px;
  position: fixed;
  text-align: center;
  width: 100%;
  // left: 50%;
  p {
    margin: 0px;
    // text-align:center;
  }
}
.font-cookie {
  font-family: 'cookie ', cursive !important;
}
.font-handlee {
  font-family: 'Handlee', cursive !important;
}
