/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self

 *= require foundation
 *= require dataTables/jquery.dataTables.foundation
 *= require foundation_and_overrides

*/
@import 'foundation-icons';
/* @import "font-awesome-sprockets"; */
@import "font-awesome";
*{
 font-family: 'Handlee', cursive;
}
.p {
  padding: 5px;
}
.pad {
  padding: 0px 15px 0px 15px;
}
.padded {
  padding: 0px 25px 0px 25px;
}
.padded-2 {
  padding: 0px 35px 0px 35px;
}
.padded-3 {
  padding: 0px 45px 0px 45px;
}
.padded-4 {
  padding: 0px 55px 0px 55px;
}

h1{
  font-family: 'Architects Daughter', cursive !important;
}
h2{
  font-family: 'Architects Daughter', cursive !important;
}
h3{
  font-family: 'Architects Daughter', cursive !important;
  line-height: 1.0 !important;
}
h4{
  font-family: 'Architects Daughter', cursive !important;
}

a:hover {
  // background-color: transparent !important;
  color: hotpink !important;
}
.close{
  position: absolute;
  top: 0px;

}

.footer {
  background-color: black;
  color: white;
  p {
    margin: 0px;
    text-align:center;
  }
}
