/*
 *= require _foundation/foundation_and_overrides
 *= require dataTables/jquery.dataTables.foundation
 *= require_tree .
 *= require_self


 */
@import "foundation";
@import "_var_and_mix/_variables";
@import "_var_and_mix/media_query_mixins";

*{
  // color: white;
  opacity: 1;
}
.p {
  font-family: 'Amaranth';
  padding: 5px;
}

.main-page{
  h1{
    font-family: 'Bligh';
    color: black;
    a:hover {
      color: $bw_blue;
    }
  }
  h2{
    font-family: 'Bligh';
    color: black;
    a:hover {
      color: $bw_blue;
    }
  }
  h3{
    font-family: 'Bligh';
    line-height: 1.0;
    color: black;
    a:hover {
      color: $bw_blue;
    }
    padding-bottom: .5rem;
  }
  h4{
    font-family: 'Bligh';
    color: black;
    a:hover {
      color: $bw_blue;
    }
  }
  h5{
    font-family: 'Bligh';
    color: black;
    a:hover {
      color: $bw_blue;
    }
  }
  h6{
    font-family: 'Bligh';
    color: black;
    a:hover {
      color: $bw_blue;
    }
  }
}

.close{
  position: absolute;
  top: 0px;
}
.top-bar{
  background-color: #2F2E2E;
  opacity: 1;
  border-bottom-style: solid;
  border-width: medium;
  border-color: #207EA9;
  z-index: 999;
}
.top-bar-section li{
  margin: -4px;
}

.footer {
  background-color: #2F2E2E;
  opacity: .9;
  bottom: 0px;
  position: fixed;
  text-align: center;
  width: 100%;
  // left: 50%;
  p {
    margin: 0px;
    color: black;
  }
  i{
    color: black;
  }
}
th{
  color: black;
}
.black {
  color: black;
  font-weight: 600;
}
.white-text{
  color: white !important;
}
.small-center {
  @media #{$break-small} {
    text-align: center;
  }
}
.center {
  text-align: center;
}
.nowrap {
  white-space: nowrap;
}
.action-icon:not(:last-child) {
  margin-right: 0.5rem;
}


// Media Query Ranges
$small-screen-up: 601px !default;
$medium-screen-up: 993px !default;
$large-screen-up: 1201px !default;
$small-screen: 600px !default;
$medium-screen: 992px !default;
$large-screen: 1200px !default;

$medium-and-up: "only screen and (min-width : #{$small-screen-up})" !default;
$large-and-up: "only screen and (min-width : #{$medium-screen-up})" !default;
$small-and-down: "only screen and (max-width : #{$small-screen})" !default;
$medium-and-down: "only screen and (max-width : #{$medium-screen})" !default;
$medium-only: "only screen and (min-width : #{$small-screen-up}) and (max-width : #{$medium-screen})" !default;

@mixin column-count($ct) {
  -webkit-column-count: $ct;
  -moz-column-count: $ct;
  column-count: $ct;
}

form #error_explanation {
  background-color: white;
}
fieldset {
  border: 2px solid $bw_blue;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em;
  border-radius: .5rem;
}

.card {
  padding:20px;
  box-sizing:border-box;
  margin-bottom: 0rem !important;
  border: 0px solid #e6e6e6 !important;
  background: none;
  .card-content {
    background: white;
  border-radius: .25em;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 1), 0 5px 10px 0 rgba(0, 0, 0, .5);
  }
}
.card-section {
  background: white;
}

select {
  display: block;
}
.pagination{
  display: flex;
  a,  button{
    display: inline;
  }
}
li{
    color: black;
}
.alert-box {
  margin-top: .5rem;
}

.agree-text{
  line-height: 26px;
}
.grid-content {
  width: grid-column(1 of 9);
}
.zero-padding {
  padding-left: 0px !important;
  padding-right: 0px !important;
}
