// Place all the styles related to the food_items controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


sup{
  color:red !important;
}
sub {
  color: green !important;
}

div.food-item{
   margin-left: 21px;
}

.food-item-name{

}
.center-text{
   text-align: center;
}

.center-image{
   display: block;
   margin-left: auto;
   margin-right: auto;
}
