.universal-flex-container {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  width: 100%;
  margin-bottom: 1rem;


  .universal-flex-button, &input, &button {
    background-color: #e6e6e6;
    color: #333333;
    text-align: center;
    font-family: 'Amaranth';
    font-weight: 600;
    font-size: 1.15rem;
    line-height: 1.5rem;
    border-radius: 4px;
    padding: .3rem 1rem;
    flex: 1 0 0;
    margin-bottom: .75rem;
    border-style: none;

    &:hover {
      background-color: #666 !important;
      color: #fff;
      text-decoration: none;
    }

    i {
      margin-right: .25rem;
      margin-left: 0;
      vertical-align: middle;
    }

    &.flex-button-natural, &input {
      flex-grow: 0;
      white-space: nowrap;

      &:not(:last-child) {
        margin-right: .75rem;
      }
    }
    &.flex-button-add, &input {
      @extend .flex-button-natural;
      margin-top: .5rem;
      margin-left: 1rem;
      padding: .2rem .5rem;
      @media screen and (min-width: 40em){
        padding: .3rem 1rem;

      }
    }
    &.flex-button-review, &input {
      margin-bottom: 0;
      @extend .flex-button-natural;
      // margin: 0rem;
      padding: .2rem .5rem;
      &:not(:last-child) {
        // margin-right: .25rem;
      }
      @media screen and (min-width: 40em){
        padding: .3rem .5rem;

      }
    }

    &.flex-button-full {
      flex-grow: 1;
    }

    &.flex-button-half {
      min-width: 49.5%;
      max-width: 49.5%;
      width: 49.5%;
    }

    &.flex-button-third {
      min-width: 32%;
      max-width: 32%;
      width: 32%;
    }

    @media screen and (max-width: 39.9375rem) {
      margin-right: 0;

      &.flex-button-half {
        min-width: 100%;
        width: 100%;
      }

      &.flex-button-third {
        min-width: 49.5%;
        max-width: 49.5%;
        width: 49.5%;
      }
    }
  }

  &.universal-flex-natural {
    justify-content: center;
    width: auto;

    a.universal-flex-button {

      &:not(:last-child) {
        margin-right: .75rem;
      }
    }
  }

  &.no-bottom-margin {
    margin-bottom: 0;
  }
  .no-right-margin i{
    margin-right: 0;
  }
  .universal-flex-element {
    text-align: center;
    font-family: 'Amaranth';
    font-weight: 600;
    font-size: 1.15rem;
    line-height: 1.5rem;
    padding: .3rem 1rem;
    flex: 1 0 0;
    margin-bottom: .75rem;
    border-style: none;
  }
  .vertical-center{
    margin-top: auto;
    margin-bottom: auto;
  }
}
.universal-flex-container-add {
  @extend .universal-flex-container;
  justify-content: left;
  align-items: baseline;
}
#universal-fill{
  justify-content: center;
}

