// Place all the styles related to the Restaurants controller here.
// They will automatically be included in application.css.
// You can use Sass
.restaurant-header {
  display: flex;
  border-bottom: 5px;
  border-color: skyblue;
}
.restaurant-header-title{
  // max-height: 5rem;
}
.restaurant-head-image {
  // margin: 0;
}
.restaurant-name{
  padding-top: 5px;
  a {
    color: white !important;
    font-family: verdana, arial, helvetica, sans-serif;
  }
}
.slogan{
  color:white;
  font-size: 1em;
  // position: absolute;
  // bottom: 0;
  left: 0;
}
.cash-only{
  width: 100%;
  text-align: center;
  float: right;
  color: red;
  font-size: 15px;
  font-weight: 600;
}
.restaurant-home-image-small{
  min-width: 69px;
  width: 100%;
  height: auto;
}

.menu-group-head{
  padding-left: 11px;
  padding-right: 11px;
  font-size: 24px;
  font-family: 'Architects Daughter', cursive !important;
  background-color: cornflowerblue;
}
.menu-group-description{
  padding-left: 11px;
  font-size: 16px;
  font-family: 'Architects Daughter', cursive !important;
}
.tabs-title a{
  font-size: 22px;
}
.tabs-panel {
  padding: 0rem !important;
}
.l4 {
  margin-left: auto;
  margin-right: auto;
  width: 30%;
}

.item-image{
  padding: 4px 4px 4px 15px !important;
}
.item-description{
  // padding: 4px 4px 4px 4px;
}
.item-price{
  text-align: right;
  vertical-align: middle;
  // padding: 4px 4px 4px 4px;
}
.review-rating-wrapper{
  position: relative;
  bottom: 0px;
  padding-top: 8px;
  flex-flow: column;
  line-height: 11px;
  // right: 8px !important;
}
.review-rating-show{
  position: absolute;
  top: 5px;
  // right: 8px !important;
  text-decoration-skip: spaces;
}

.restaurant-show {
  .cards-container {

    div {
      display:flex;
      flex-wrap:wrap;
      justify-content:space-evenly
    }
    .card-content {
      display: block;
      text-align: center;
      margin-left: auto;
      margin-right: auto;
      padding-bottom: 10px;
      background-color: lightblue;
      border-radius: 3%;
      padding: 0 10px 0 10px;
      .card-title {
        padding-top: 10px;
      }
    }

  }
}
