body {
  background-color: #CEE3F6;
  color: white;
  font-family: 'Amaranth';
  font-size: 1.3rem;
  line-height: 18px;
}

p, ol, ul, td {
  font-family: 'Amaranth';
  font-size: .9rem;
  line-height: 18px;
  color: black;
}

pre {
  background-color: #eee;
  padding: 10px;
  font-size: 11px;
}

a {
  color: #000;
  &:visited {
    color: #0B4C5F;
  }
  &:hover {
    color: #fff;
    // background-color: #000;
  }
}

div {
  &.field, &.actions {
    margin-bottom: 10px;
  }
}

#notice {
  color: green;
}

.field_with_errors {
  padding: 2px;
  background-color: red;
  // display: table;
  margin: 2px;
  border-radius: .5rem;
}

#error_explanation {
  width: 450px;
  border: 2px solid red;
  padding: 7px;
  padding-bottom: 0;
  margin-bottom: 20px;
  background-color: black;
  border-radius: .5rem;
  h2 {
    text-align: left;
    font-weight: bold;
    padding: 5px 5px 5px 15px;
    font-size: 18px;
    margin: -7px;
    margin-bottom: 0px;
    background-color: #c00;
    color: #fff;
  }
  ul li {
    font-size: 15px;
    list-style: square;
  }
}

.text-center{
  text-align: center;
}

.margin-none{
  margin: 0;
}
