$sky-blue: #008CBA !important;
a{
  color: $sky-blue;
}
a.button{
  color: white !important;
}
a:hover {
  // background-color: transparent !important;
  color: #3588CC !important;
}
a:visited{
  // background-color: transparent !important;
  color: $sky-blue !important;
}
i{
  color: black;
}
.button{
  font-size: 1rem;
}
a:visited.button {
  color: white !important;
}
label{
  color: white !important;
}
textarea, option,
input[type] {
  color: black !important;
}
::-webkit-input-placeholder { /* WebKit, Blink, Edge */
  color: $sky-blue;
}
:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
  color:    $sky-blue;
  opacity:  1;
}
::-moz-placeholder { /* Mozilla Firefox 19+ */
  color:    $sky-blue;
  opacity:  1;
}
:-ms-input-placeholder { /* Internet Explorer 10-11 */
  color:    $sky-blue;
}
