a{
  color: #FFFFFF;
}
a:hover {
  // background-color: transparent !important;
  color: #3588CC !important;
}
a:visited{
  // background-color: transparent !important;
  color: #30BDFF;
}
i{
  color: black;
}
label{
  color: white !important;
}
