<div class="row">
  <%= render partial: "admin/layouts/restaurant_overview", locals: { title: "Active Restaurants", restaurants: @active_restaurants } %>
  <%= render partial: "admin/layouts/restaurant_overview", locals: { title: "Inactive Restaurants", restaurants: @inactive_restaurants } %>
</div>
