<div class="small-12 columns">
  <div class="row">
    <% @restaurants.each do |restaurant| %>
      <%= render partial: "restaurants/basic", locals: {restaurant: restaurant} %>
    <% end %>
  </div>
</div>
