<div class="row">
  <div class="small-12 columns universal-flex-container">
    <h1>Manage Users</h1>
    <%= link_to 'Logout <i class="fas fa-sign-out"></i>'.html_safe, destroy_user_session_path, method: :delete, class: "universal-flex-button flex-button-natural vertical-center" %>
  </div>
</div>

<div class="row">
  <div class="small-12 columns">
    <%= render partial: 'partials/users/datatable' %>
  </div>
</div>
