<div class="row padded">
  <div class="small-12 medium-6 columns">
    <%= render partial: "admin/extras/prices/list", locals: {restaurant: @restaurant, extra: @extra} %>
    <%= render partial: "admin/extras/prices/form", locals: {restaurant: @restaurant, extra: @extra} %>
  </div>
</div>
