<div class="row" id="rating-reviews-<%=review.id%>" >
  <div class="small-4 columns image-wrapper">
    <%= link_to PhotoDecorator.decorate(reviewed.photos.sample).display, edit_review_path(review) %>
  </div>
  <div class="small-8 columns">
    <h3 style="float:left;">
      <%= link_to reviewed.name, edit_review_path(review) %>
    </h3>
  </div>
  <div class="small-12 columns">
    <p align="none">
      <%= render partial: "reviews/type_link", locals: {review: review, reviewed: review.review} %>
    </p>
  </div>
</div>
