<div class="row">
  <div class="small-12 columns">
    <h1>Your <%= link_to(@reviewable.restaurant.name, restaurant_path(@reviewable.restaurant)) if defined?(@reviewable.restaurant) %> <%= @review.review_type.downcase %> review:</h1>
    <%= render 'form' %>
  </div>
</div>
