<div class="row">
  <div class="small-12 columns">
    <h1>Review something new</h1>
    <%= render partial: 'new_form', locals: { review: @review, reviewable: @reviewable, options: @options } %>
  </div>
</div>
