<div class="row">
  <div class="small-12 columns">
    <h1>Rate something new</h1>
    <div id="new-review-form">
      <%= render partial: 'new_form',
        locals: { review: @review, reviewable: @reviewable, options: @options } %>
    </div>
  </div>
</div>
