    DFD
<div class="row">
  <div class="small-12 columns">
    Rating: <%= render partial: "/modules/rating_reviews", locals: { rating: Review.ratings[@review.rating], reviewable: @reviewable } %>
  </div>
  <div class="small-12 columns">
    <%= render partial: "/#{@review.review_type.downcase.pluralize}/show", locals: {item: @reviewable} %>
  </div>
  <div class="small-12 columns">
    <%= link_to "Update", edit_polymorphic_path(@review), class: "button tiny radius right"  %>
  </div>
</div>
