<%= simple_form_for(item, url: admin_restaurant_item_add_new_addition_path(restaurant, item), method: :post) do |f| %>
  <div class="row">
    <div class="small-4 columns">
      <input type="text" id="item[addition_name]" name="addition_name" placeholder="Name" />
    </div>
    <div class="small-5 columns">
      <input type="text" id="item[addition_description]" name="addition_description" placeholder="Description" />
    </div>
    <div class="small-3 columns">
        <%= f.submit class: "button tiny radius success", value: 'Add' %>
    </div>
  </div>
<% end %>