<!--Some footer stuff here :) -->
<div class="row footer padded center">
  <div class="small-12 columnns">
    <p><%= Rails.env.capitalize %> Version: <%= Rails.application.config.app_version %></p>
  </div>
</div>
