<div class="small-12 columns footer">
  <div class="row">
    <div class="small-10 columns">
      <p><%= Rails.env.capitalize %> Version: <%= Rails.application.config.app_version %></p>
    </div>
    <div class="small-2 columns">
      <p class="right"><%= link_to "<i class='fi-lightbulb'></i>".html_safe, new_report_path %></p>
    </div>
  </div>
</div>
