<!--Some footer stuff here :) -->
<div class="row padded">
  <div class="small-6 columnns">
    Built by a local, for the locals.

   </div>
  <div class="small-6 columnns right">
  <span class="right"><%= Rails.env.capitalize %>, V<%= Rails.application.config.app_version %></span>
   </div>
</div>