<% if flash[:notice].present? || flash[:alert].present? %>
  <div class="row">
    <div class="small-12 columns">
      <% if flash[:notice] %>
        <div data-alert class="alert-box radius"><%= flash[:notice] %></div>
      <% end %>
      <% if flash[:alert] %>
        <div data-alert class="alert-box warning radius"><%= flash[:alert] %></div>
      <% end %>
    </div>
  </div>
<% end %>
