<div class="small-12 columns">
  <h3>Ingredients:</h3>
</div>
<div class="small-12 medium-4 columns">
  <%= render partial: "admin/foods/ingredients/list", locals: {food: @food } %> </div>
<div class="small-12 medium-8 columns">
  <%= render partial: "admin/foods/ingredients/select", locals: {restaurant: @restaurant, food: @food, ingredients: Ingredient.all.order(:name)} %>
  <%= render partial: "admin/foods/ingredients/form",   locals: {restaurant: @restaurant, food: @food} %>
</div><hr>
